<div class="container-fluid text-center">
    <p>Have a question about Marketing Cloud? Connect with us on <a href="https://salesforce.stackexchange.com/questions/tagged/marketing-cloud" target="_blank">Stack Exchange</a></p> 
</div>