<% include ./brand.ejs %>
<% include ./nav-languages.ejs %>

<div class="container text-center">
    <h2 class="mt-4"><small>Create a simple app for Salesforce Marketing Cloud using Java on macOS</small></h2>
    <div class="container" id="sdk-steps">
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdk/java">Step 1: Set up environment</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdk/java2">Step 2: Create a Maven project</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdk/java3">Step 3: Create &amp; run Java app</a>
    </div>
</div>
