<% include ./brand.ejs %>
<% include ./nav-apis.ejs %>

<div class="container text-center">
    <h2 class="mt-4"><small>Use the Marketing Cloud REST API playground</small></h2>
    <div class="container" id="sdk-steps">
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/api/rest">Step 1: Learn about the REST APIs</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="#">Step 2: Connect to Marketing Cloud</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="#">Step 3: Create a contact</a>
    </div>
</div>
