<% include ./header-languages.ejs %>

<div class="container text-center">
    <h2 class="mt-4"><small>Create a simple Java app with the Marketing Cloud SDK Playground</small></h2>
    <div class="container" id="steps">
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdks/java/playground">Step 1: Create a Maven project</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdks/java/playground/java-play-2">Step 2: Simple Java app</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/sdks/java/playground/java-play-3">Step 3: Advanced Java app</a>
    </div>
</div>
