<div class="container text-center">
    <div class="container" id="steps">
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/playgrounds/java">Step 1: Create a Maven project</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/playgrounds/java/java-play-2">Step 2: Simple Java app</a>
        <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-300" style="text-align:center" href="/playgrounds/java/java-play-3">Step 3: Advanced Java app</a>
    </div>
</div>
