<div class="container" id="sdk-steps">
    <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-250 active" href="/sdk/java">Step 1: Set up environment</a>
    <a class="btn btn-outline-primary btn-md m-3 button-fixed-width-250" href="/sdk/java2">Step 2: Create app</a>
</div>

<!--

See: http://blog.madhousegraphics.com/2017/08/setting-the-active-navbar-item-with-bootstrap-4-and-jquery/

<script>
    $(function()
    {
        $('ul#nav li a').removeClass();
            var pathname = window.location.pathname; 
            $('#nav li a').each(function(){
            
                var h=$(this).attr('href');
                if (h==pathname){
                $(this).addClass('current');
                }
            });
            alert(pathname);
    });

    $('#sdk-steps > a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
    });

</script>
-->
