<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <span class="fa fa-home"></span>
        Get started with Marketing Cloud
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="nav-language">
        <div class="navbar-nav align-items-end">
            <a class="nav-item nav-link active" href="#">Java</a>
            <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">C#</a>
            <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Node.js</a>
            <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">PHP</a>
            <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Python</a>
            <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Ruby</a>
        </div>
    </div>
</nav>
