<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <span class="fa fa-home"></span>
        Get started with Marketing Cloud
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="nav-language">
        <div class="navbar-nav align-items-end">
            <a class="nav-item nav-link active" href="#">Java</a>
            <a class="nav-item nav-link disabled" href="#">C#</a>
            <a class="nav-item nav-link disabled" href="#">Node.js</a>
            <a class="nav-item nav-link disabled" href="#">PHP</a>
            <a class="nav-item nav-link disabled" href="#">Python</a>
            <a class="nav-item nav-link disabled" href="#">Ruby</a>
        </div>
    </div>
</nav>
