<div class="container" id="sdk-steps">
    <a class="btn btn-outline-primary btn-md step-button m-2 active" href="/sdk/java">1. Set up environment</a>
    <a class="btn btn-outline-primary btn-md m-2 step-button" href="/sdk/java2">2. Create app</a>
</div>

<!--

<script>
    $(function()
    {
        $('ul#nav li a').removeClass();
            var pathname = window.location.pathname; 
            $('#nav li a').each(function(){
            
                var h=$(this).attr('href');
                if (h==pathname){
                $(this).addClass('current');
                }
            });
            alert(pathname);
    });

    $('#sdk-steps > a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
    });

</script>
-->

