<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

<% include ./partials/brand.ejs %>

<div class="container-fluid text-center mb-5">
  <h2>Sorry, you are not authorized to access this site!</h2>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
