<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

<% include ./partials/brand.ejs %>

<div class="container-fluid text-center">
  <h2>Create a simple app for Salesforce Marketing Cloud</h2>
  <p>
  <h2><small>Get started with APIs or your programming language of choice</small></h3>
</div>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <p class="lead">How do you want to start?</p>

    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary dropdown-toggle" id="sfmc-apis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Use Marketing Cloud APIs
      </button>
      <div class="dropdown-menu" aria-labelledby="sfmc-apis">
        <a class="dropdown-item" href="/api/rest">REST APIs</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">SOAP APIs</a>
      </div>
    </div>
    
    &nbsp;or&nbsp;

    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary dropdown-toggle" id="sfmc-sdks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Use a programming language
      </button>
      <div class="dropdown-menu" aria-labelledby="sfmc-sdks">
        <a class="dropdown-item" href="/sdk/java">Java</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">C#</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Node.js</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">PHP</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Python</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Ruby</a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
