<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

<% include ./partials/brand.ejs %>

<div class="container-fluid text-center">
  <h2>Create a simple app for Salesforce Marketing Cloud</h2>
  <p>
  <h2><small>Get started with APIs or your programming language of choice</small></h3>
</div>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <p class="lead">How do you want to start?</p>

    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary dropdown-toggle m-2" id="sfmc-apis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       API Playground
      </button>
      <div class="dropdown-menu" aria-labelledby="sfmc-apis">
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">REST APIs</a>
        <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">SOAP APIs</a>
      </div>
    </div>
    
    <!-- Dropdown submenu thanks to: https://github.com/twbs/bootstrap/issues/17408 -->
    <div class="btn-group btn-group-lg">
        <button class="btn btn-primary dropdown-toggle m-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programming language
        </button>
        <div class="dropdown-menu">

          <!-- Java -->
          <li class="dropdown-item dropdown-submenu">
            <a tabindex="-1" href="#">Java</a>
            <ul class="dropdown-menu">
              <li><a href="/sdks/java/macos" bypass class="dropdown-item">macOS</a></li>
              <li><a href="#" bypass class="dropdown-item disabled" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Windows</a></li>
            </ul>
          </li>
                    
          <!-- Other languages disabled for now -->
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">C#</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Node.js</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">PHP</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Python</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Ruby</a>
        </div>
      </div>

      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary dropdown-toggle m-2" id="sfmc-apis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SDK Playground
        </button>
        <div class="dropdown-menu" aria-labelledby="sfmc-apis">
          <a class="dropdown-item" href="/playgrounds/java">Java</a>

          <!-- Other languages disabled for now -->
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">C#</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Node.js</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">PHP</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Python</a>
          <a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="auto" title="Coming soon!">Ruby</a>
        </div>
      </div>
      
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
