<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="images/lang-logo.png">
    </a>
    <h1>API quickstart</h1>
  </div>
</div>

</body>
</html>
