<!DOCTYPE html>
<html>
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

<% include ../../../partials/header-java.ejs %>

<!-- Tutoial steps -->
<div class="container">

  <p class="mt-3">In this section, you will install the Java 8 SDK and Apache Maven to create <a href="https://java.com" target="_blank">Java</a> apps on your Mac.</p>

  <p class="mt-3"><mark>You must use Java 8 (or older) SDK and runtime. The <a href="http://salesforce-marketingcloud.github.io/FuelSDK-Java/" target="_blank">Marketing Cloud Java SDK</a> 
    currently does not support the Java 9 SDK and runtime. See <a href="https://github.com/salesforce-marketingcloud/FuelSDK-Java/issues/80" target="_blank">issue on Github</a>.</mark></p>
  
  <!-- Step 1 -->
  <div class="card mt-3">
    <div class="card-block">
      <div class="card-header text-white" style="background-color: #00AA9E;">Step 1.1: Install Homebrew and Java 8</div>
      <div class="card-body">
        <h6 class="card-subtitle mb-3">Skip this step if you already have Brew and Java 8 SDK installed on your Mac.</h6>

        <p class="card-text">Run the command below in a Terminal window to install <a href="https://brew.sh" target="_blank">Homebrew.</a></p>
        <pre class="command-line" style="max-height: 30em" data-user="user" data-host="MacBook" data-src="/code-snippets/macos/get-brew.sh"></pre>
        
        <p class="card-text">Close the Terminal window you opened earlier and open a new one. Run the command below in the new Terminal window to install the Java 8 Runtime and SDK.</p>
        <pre class="command-line" style="max-height: 30em" data-user="user" data-host="MacBook" data-src="/code-snippets/macos/brew-install-java8.sh"></pre>
        
        <p class="card-text">Run the command below in the Terminal window to verify that the Java 8 SDK is installed properly. The output should be similar to <code>java version "1.8.0_162"</code></p>
        <pre class="command-line" style="max-height: 30em" data-user="user" data-host="MacBook" data-src="/code-snippets/macos/java8-version.sh"></pre>

        <p class="card-text"><span class="fa fa-star text-success"></span>&nbsp;You have sucessfully installed Homebrew and the Java 8 SDK on your Mac!</p>
      </div>
    </div>
  </div>

  <!-- Step 2 -->
  <div class="card mt-3">
    <div class="card-block">
      <div class="card-header text-white" style="background-color: #00AA9E;">Step 1.2: Install Maven</div>
      <div class="card-body">
        <h6 class="card-subtitle mb-3">Skip this step if you already have Maven installed on your Mac.</h6>
        <p class="card-text">We'll use <a href="https://maven.apache.org" target="_blank">Apache Maven</a> to help manage dependencies, build, test and run Java projects. Run the command below in a Terminal window to install Maven.</p>

        <pre class="command-line" style="max-height: 30em" data-user="user" data-host="MacBook" data-src="/code-snippets/macos/brew-install-maven.sh"></pre>
        
        <p class="card-text">Run the command below in the Terminal window to verify that the Maven is installed properly.</p>
        <pre class="command-line" style="max-height: 30em" data-user="user" data-host="MacBook" data-src="/code-snippets/macos/maven-version.sh"></pre>
        
        <p class="card-text"><span class="fa fa-star text-success"></span>&nbsp;You have successfully installed the Java 8 SDK and Maven.</p>
        <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You have everything you need to create Java apps on your Mac!</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <a class="btn btn-primary btn-md m-4 button-fixed-width-300 active" style="text-align:center" href="/sdks/java/macos/java-mac-2">Go to step 2</a>
</div>

<% include ../../../partials/footer.ejs %>

</body>
</html>