<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>

  <script src="/scripts/java-playground.js"></script>
</head>

<body>

  <% include ../../partials/header-playground-java.ejs %>

<!-- Tutorial steps -->
<div class="container">

  <p class="mt-3">Let's create an advanced Java app in the <strong>Marketing Cloud SDK Playground</strong>. This app connects to Marketing Cloud, sends an e-mail to a contact you specify and checks status of the e-mail.</p>

  <p class="mt-3">Like in the earlier example, this Java app uses the pre-provisioned <code>Client ID</code> and <code>Client Secret</code> in the <strong>Marketing Cloud SDK Playground</strong> environment.</p>

  <div class="card mt-3">
    <div class="card-block">
      <div class="card-header text-white" style="background-color: #00AA9E;">Send an e-mail to a contact with Marketing Cloud</div>
      <div class="card-body">
        <p class="card-text">The Java app below runs in the <strong>Marketing Cloud SDK Playground</strong> and sends an e-mail to a contact you specify.</p>
        <div id="divEmail" class="form-group">
          <label for="inputEmail">Recepient's Email address</label>
          <input required type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email address (required)">
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Enter a valid e-mail address
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <button id="buttonRunApp2" class="btn btn-secondary" type="button">Compile and Run Java app</button>
        <pre id="areaJavaCode" style="max-height: 30em" class="line-numbers" data-line="12" data-src="/code-snippets/java/app2-playground.java"></pre>
        <div class="card mt-3">
          <div class="card-header"><small>CONSOLE OUTPUT</small></div>
          <pre style="max-height: 30em" class="m-2">
            <code id="outputRunApp" class="language-bash">Nothing yet. Click 'Compile and Run Java App' to see results.</code>
          </pre>
        </div>

        <div id="successRunApp" class="hide-element">
          <p class="card-text mt-3"><span class="fa fa-star text-success"></span>&nbsp;You have sucessfully compiled and run your second Java app for Marketing Cloud in the playground!</p>
        </div>
      </div>
    </div>
  </div>

</div>

<% include ../../partials/footer.ejs %>

</body>
</html>