h2 {
  color: #532F8C; }

.jumbotron {
  background: #532F8C;
  color: white;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;}

.jumbotron p {
    color: #d9ccee;}

.dropdown-item:hover {
  background-color: rgb(150, 150, 245);}

a.disabled {
  cursor: not-allowed;}

a.disabled:hover {
    cursor: not-allowed;}

.button-fixed-width-250 {
  min-width: 230px !important;
  max-width: 250px !important;
  text-align:left;}
