<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/brand.ejs %>

<% include ../partials/nav-languages.ejs %>

<div class="container text-center">
  <h2 class="mt-4"><small>Create a simple app for Salesforce Marketing Cloud using Java</small></h2>

  <% include ../partials/nav-steps.ejs %>

  <p class="mt-4">This section walks you through installing the necessary dependencies to create Java apps with Salesforce Marketing Cloud.</p>
</div>

<!-- Turorial steps -->
<div class="container">

      <!-- Step 1 -->
      <div class="card mt-2">
      <div class="card-block">
        <div class="card-header"><strong>Step 1.1 Install Homebrew and Java</strong></div>
        <div class="card-body">
          <h6 class="card-subtitle">Skip this step if you already have Brew and Java installed on your machine.</h6>
          <p>
          <p class="card-text">Install Homebrew, cask, and Java using the following commands. Once you have installed Homebrew, make sure to restart the terminal session.</p>

          <pre><code>Sample text here.... And another line of sample text here...</code></pre>
          <samp>test sample output</samp>
        </div>
      </div>
    </div>

      <!-- Step 2 -->
      <div class="card mt-2">
          <div class="card-block">
              <div class="card-header">Step 1.2 Install Maven</div>
        <div class="card-body">
          <h6 class="card-subtitle">Skip this step if you already have Maven installed on your machine.</h6>
          <p>
          <p class="card-text"><a href="https://maven.apache.org">Maven</a> can be used to help manage dependencies, build, test and run your Java project.</p>
        </div>
      </div>
    </div>

</div>

</body>
</html>