<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/header-rest.ejs %>
  
<!-- Tutoial steps -->
<div class="container">

    <p class="mt-3">In this section, you will use the Marketing Cloud REST API playground to connect to your Marketing Cloud account, create a new contact, send a test e-mail to the contact and check status of the e-mail.</p>

    <p class="mt-3"><mark>Page under construction - check back later</mark></p>

  </div>

  <div class="container text-center">
    <a class="btn btn-primary btn-md m-4 button-fixed-width-300 active" style="text-align:center" href="#">Go to step 2</a>
  </div>
  
<% include ../partials/footer.ejs %>
  
</body>
</html>
